/* здесь используйте глобальные переменные */

$title-font: "NotoSerif", "Georgia", serif;
$base-font: "NotoSans", "Arial", sans-serif;

$base-color-text: #444444;
$title-color-text: #000000;
$title-light-color-text: #ffffff;
$title-secondary-color-text: #222222;

$base-background-color: #eae3c0;
$soft-background-color: #f5f1e0;
$bright-background-color: #a7c584;
$accent-background-color: #6b8a47;

$tablet-width: 768px;
$desktop-width: 1440px;
